server/api/src/services/param.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://turkpos.com.tr/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="https://turkpos.com.tr/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">TURK Elektronik Para A.Ş.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://turkpos.com.tr/">
      <s:element name="BIN_SanalPos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="G" type="tns:ST_WS_Guvenlik" />
            <s:element minOccurs="0" maxOccurs="1" name="BIN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ST_WS_Guvenlik">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CLIENT_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLIENT_USERNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLIENT_PASSWORD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="BIN_SanalPosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BIN_SanalPosResult" type="tns:ST_Genel_Sonuc" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ST_Genel_Sonuc">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DT_Bilgi">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="Sonuc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sonuc_Str" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="TP_Ozel_Oran_SK_Liste">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="G" type="tns:ST_WS_Guvenlik" />
            <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TP_Ozel_Oran_SK_ListeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TP_Ozel_Oran_SK_ListeResult" type="tns:ST_Genel_Sonuc" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TP_Ozel_Oran_SK_Guncelle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="G" type="tns:ST_WS_Guvenlik" />
            <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ozel_Oran_SK_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MO_1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MO_2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MO_3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MO_4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MO_5" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MO_6" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MO_7" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MO_8" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MO_9" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MO_10" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MO_11" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MO_12" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TP_Ozel_Oran_SK_GuncelleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TP_Ozel_Oran_SK_GuncelleResult" type="tns:ST_Genel_Sonuc" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TP_Ozel_Oran_Liste">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="G" type="tns:ST_WS_Guvenlik" />
            <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TP_Ozel_Oran_ListeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TP_Ozel_Oran_ListeResult" type="tns:ST_Genel_Sonuc" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TP_WMD_UCD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="G" type="tns:ST_WS_Guvenlik" />
            <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KK_Sahibi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KK_No" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KK_SK_Ay" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KK_SK_Yil" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KK_CVC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KK_Sahibi_GSM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Hata_URL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Basarili_URL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Siparis_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Siparis_Aciklama" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Taksit" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="Islem_Tutar" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Toplam_Tutar" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Islem_Hash" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Islem_Guvenlik_Tip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Islem_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IPAdr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ref_URL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data5" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data6" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data7" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data8" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data9" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data10" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TP_WMD_UCDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TP_WMD_UCDResult" type="tns:ST_TP_WMD_UCD" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ST_TP_WMD_UCD">
        <s:complexContent mixed="false">
          <s:extension base="tns:ST_Genel_Sonuc">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Islem_ID" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="UCD_URL" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UCD_HTML" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="TP_Islem_Iptal_Iade">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="G" type="tns:ST_WS_Guvenlik" />
            <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Durum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Siparis_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Tutar" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TP_Islem_Iptal_IadeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TP_Islem_Iptal_IadeResult" type="tns:ST_TP_Islem_Iptal_Iade" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ST_TP_Islem_Iptal_Iade">
        <s:complexContent mixed="false">
          <s:extension base="tns:ST_Genel_Sonuc">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Iade_Id" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BIN_SanalPosSoapIn">
    <wsdl:part name="parameters" element="tns:BIN_SanalPos" />
  </wsdl:message>
  <wsdl:message name="BIN_SanalPosSoapOut">
    <wsdl:part name="parameters" element="tns:BIN_SanalPosResponse" />
  </wsdl:message>
  <wsdl:message name="TP_Ozel_Oran_SK_ListeSoapIn">
    <wsdl:part name="parameters" element="tns:TP_Ozel_Oran_SK_Liste" />
  </wsdl:message>
  <wsdl:message name="TP_Ozel_Oran_SK_ListeSoapOut">
    <wsdl:part name="parameters" element="tns:TP_Ozel_Oran_SK_ListeResponse" />
  </wsdl:message>
  <wsdl:message name="TP_WMD_UCDSoapIn">
    <wsdl:part name="parameters" element="tns:TP_WMD_UCD" />
  </wsdl:message>
  <wsdl:message name="TP_WMD_UCDSoapOut">
    <wsdl:part name="parameters" element="tns:TP_WMD_UCDResponse" />
  </wsdl:message>
  <wsdl:message name="TP_Islem_Iptal_IadeSoapIn">
    <wsdl:part name="parameters" element="tns:TP_Islem_Iptal_Iade" />
  </wsdl:message>
  <wsdl:message name="TP_Islem_Iptal_IadeSoapOut">
    <wsdl:part name="parameters" element="tns:TP_Islem_Iptal_IadeResponse" />
  </wsdl:message>
  <wsdl:portType name="Service_TURKPOS_PRODSoap">
    <wsdl:operation name="BIN_SanalPos">
      <wsdl:input message="tns:BIN_SanalPosSoapIn" />
      <wsdl:output message="tns:BIN_SanalPosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TP_Ozel_Oran_SK_Liste">
      <wsdl:input message="tns:TP_Ozel_Oran_SK_ListeSoapIn" />
      <wsdl:output message="tns:TP_Ozel_Oran_SK_ListeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TP_WMD_UCD">
      <wsdl:input message="tns:TP_WMD_UCDSoapIn" />
      <wsdl:output message="tns:TP_WMD_UCDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TP_Islem_Iptal_Iade">
      <wsdl:input message="tns:TP_Islem_Iptal_IadeSoapIn" />
      <wsdl:output message="tns:TP_Islem_Iptal_IadeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service_TURKPOS_PRODSoap" type="tns:Service_TURKPOS_PRODSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BIN_SanalPos">
      <soap:operation soapAction="https://turkpos.com.tr/BIN_SanalPos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TP_Ozel_Oran_SK_Liste">
      <soap:operation soapAction="https://turkpos.com.tr/TP_Ozel_Oran_SK_Liste" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TP_WMD_UCD">
      <soap:operation soapAction="https://turkpos.com.tr/TP_WMD_UCD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TP_Islem_Iptal_Iade">
      <soap:operation soapAction="https://turkpos.com.tr/TP_Islem_Iptal_Iade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service_TURKPOS_PROD">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">TURK Elektronik Para A.Ş.</wsdl:documentation>
    <wsdl:port name="Service_TURKPOS_PRODSoap" binding="tns:Service_TURKPOS_PRODSoap">
      <soap:address location="https://testposws.param.com.tr/turkpos.ws/service_turkpos_prod.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
